{% extends 'dokumanlar/isyeriekle.html' %}


{% block content %}

<ol>
    <li><a href="{%url 'egitimslayt_view' %}" type="button" class="btn btn-dark">Eğitim Slaytları</a></li>

    <li><a href="{%url 'talimatlar_view' %}" type="button" class="btn btn-dark">Talimatlar</a></li>

    <li><a href="{%url 'sertifikalar_view' %}" type="button" class="btn btn-dark">Sertifikalar</a></li>

    <li><a href="{%url 'egitimsoru_view' %}" type="button" class="btn btn-dark">Eğitim Soru ve Katılım Formları</a></li>

    <li><a href="{%url 'isizin_view' %}" type="button" class="btn btn-dark">İş İzin Formları</a></li>

    <li><a href="{%url 'zimmet_view' %}" type="button" class="btn btn-dark">Zimmet Formları</a></li>

    <li><a href="{%url 'iskaza_view' %}" type="button" class="btn btn-dark">İş Kazası Raporları</a></li>

    <li><a href="{%url 'corona_view' %}" type="button" class="btn btn-dark">Corona Belgeleri</a></li>

    <li><a href="{%url 'calisan_view' %}" type="button" class="btn btn-dark">Çalışan Temsilcisi Evrakları</a></li>

    <li><a href="{%url 'destek_view' %}" type="button" class="btn btn-dark">Destek Elemanı Evrakları</a></li>

    <li><a href="{%url 'egitim_view' %}" type="button" class="btn btn-dark">Yıllık Eğitim Planı Evrakları</a></li>

    <li><a href="{%url 'calisma_view' %}" type="button" class="btn btn-dark">Yıllık Çalışma Planı Evrakları</a></li>

    <li><a href="{%url 'degerlendirme_view' %}" type="button" class="btn btn-dark">Yıllık Değerlendirme Raporu</a></li>

    <li><a href="{%url 'onayli_view' %}" type="button" class="btn btn-dark">Onaylı Defter Dilekçesi</a></li>

    <li><a href="{%url 'isteslim_view' %}" type="button" class="btn btn-dark">İş Teslim Tutanağı</a></li>

    <li><a href="{%url 'saha_view' %}" type="button" class="btn btn-dark">Saha Denetim Raporları</a></li>

    <li><a href="{%url 'kurul_view' %}" type="button" class="btn btn-dark">KURULLAR</a></li>

    <li><a href="{%url 'yonerge_view' %}" type="button" class="btn btn-dark">İÇ YÖNERGE TASLAKLARI</a></li>

    <li><a href="{%url 'ekip_view' %}" type="button" class="btn btn-dark">EKİP ATAMALARI</a></li>

    <li><a href="{%url 'saglik_view' %}" type="button" class="btn btn-dark">SAĞLIK GÜVENLİK PLANI</a></li>

    <li><a href="{%url 'acil_view' %}" type="button" class="btn btn-dark">ACİL DURUM EYLEM PLANI</a></li>

    <li><a href="{%url 'diger_view' %}" type="button" class="btn btn-dark">DİĞER BELGELER</a></li>

    <li><a href="{%url 'diger2_view' %}" type="button" class="btn btn-dark">DİĞER BELGELER - II</a></li>
</ol>


{% endblock %}
